*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
background-color: bisque;
height: 100%;
font-family: 'Lato', sans-serif;
}
/* hero section start */
.hero-image{
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-text{
  text-align: center;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-media{
  font-size: 30px;
  margin: 5px;
  font-weight: bold;
  position: absolute;
  top: -60%;
  right: -50%;
  color: white;
}
.social-media:hover{
  color: rgb(81, 198, 202);
}
.hero-text h1{
  font-family: 'Sansita Swashed', cursive;
  font-size: 100px;
  color: rgb(215, 103, 243);
  margin-bottom: 50px;
}
.hero-text p{
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  color: rgb(203, 112, 226);
  margin-bottom: 50px;
}
.hero-text button{
  font-family: 'Sansita Swashed', cursive;
  background-color: rgba(215, 103, 243,0.6);
  font-size: 50px;
  color: rgba(34, 19, 37,0.4);
}
/* hero section end */